<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Last Breath Watch App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64_32</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6D1F3209012C490B642193026EF29090A3E49006</string>
				<key>dateExpires</key>
				<string>02/08/2025</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XR6396NPH7.com.logames.apnea.watchkitapp</string>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array>
					<string>health-records</string>
				</array>
				<key>com.apple.developer.healthkit.background-delivery</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>XR6396NPH7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Last Breath Watch App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d97a5979-1a3e-4f82-a000-77b70dce7701</string>
				<key>dateExpires</key>
				<string>02/08/2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.logames.apnea.watchkitapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XR6396NPH7</string>
				<key>name</key>
				<string>Matthieu Testard</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1</string>
		</dict>
	</array>
</dict>
</plist>
